In [ ]:
# Not done yet. Lots of NaN's. What would ChatGPT do, fabricate 183 values for shark species?

In [ ]:
!pip install pandas
!pip install numpy

In [2]:
import numpy as np
import pandas as pd

In [ ]:
!pip install chardet
import chardet

with open('attacks.csv', 'rb') as f:
    result = chardet.detect(f.read())

In [16]:
df = pd.read_csv('attacks.csv', encoding=result['encoding'])

In [12]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [5]:
df.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
dtype: object

In [6]:
df.isnull().sum()

Case Number               19519
Date                      19520
Year                      19522
Type                      19524
Country                   19566
Area                      19932
Location                  20031
Activity                  20055
Name                      19726
Sex                       20097
Age                       22240
Injury                    19548
Fatal (Y/N)               19550
Time                      22766
Species                   22514
Investigator or Source    19537
pdf                       19520
href formula              19521
href                      19521
Case Number.1             19520
Case Number.2             19520
original order            19520
dtype: int64

In [7]:
df.isnull()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25609,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25610,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25611,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25612,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25613,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
# Removing rows after 500 because all the cells are empty

In [21]:
df=df.iloc[0:500]

In [9]:
df.isnull()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
missing_data = df.isnull()

In [11]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Case Number
False    500
Name: Case Number, dtype: int64

Date
False    500
Name: Date, dtype: int64

Year
False    499
True       1
Name: Year, dtype: int64

Type
False    498
True       2
Name: Type, dtype: int64

Country
False    499
True       1
Name: Country, dtype: int64

Area
False    473
True      27
Name: Area, dtype: int64

Location
False    469
True      31
Name: Location, dtype: int64

Activity
False    476
True      24
Name: Activity, dtype: int64

Name
False    496
True       4
Name: Name, dtype: int64

Sex
False    482
True      18
Name: Sex , dtype: int64

Age
False    376
True     124
Name: Age, dtype: int64

Injury
False    500
Name: Injury, dtype: int64

Fatal (Y/N)
False    494
True       6
Name: Fatal (Y/N), dtype: int64

Time
False    365
True     135
Name: Time, dtype: int64

Species
False    317
True     183
Name: Species , dtype: int64

Investigator or Source
False    496
True       4
Name: Investigator or Source, dtype: int64

pdf
False    500
Name: pdf, dtype: int64

href formula
False    500
Name: href formula, dtype: int64

href
False    500
Name: href, dtype: int64

Case Number.1
False    500
Name: Case Number.1, dtype: int64

Case Number.2
False    500
Name: Case Number.2, dtype: int64

original order
False    500
Name: original order, dtype: int64

In [ ]:
# Examining the two columns with one null value each: 'Year' and 'Country':

In [65]:
df[df['Year'].isnull()].index.tolist()

[52]

In [34]:
df.iloc[52]

Case Number                              2017.01.08.R
Date                             Reported 08-Jan-2017
Year                                              NaN
Type                                          Invalid
Country                                     AUSTRALIA
Area                                       Queensland
Location                                          NaN
Activity                                 Spearfishing
Name                                     Kerry Daniel
Sex                                                 M
Age                                                35
Injury         No attack, shark made a threat display
Fatal (Y/N)                                       NaN
Time                                              NaN
Species                                    Bull shark
Name: 52, dtype: object

In [17]:
df['Year'].fillna(method='pad', inplace=True)

In [8]:
df.iloc[52]['Year']

np.float64(2017.0)

In [18]:
df[['Year']] = df[['Year']].astype('int')

In [21]:
df.iloc[52]['Year']

np.int64(2017)

In [68]:
df[df['Country'].isnull()].index.tolist()

[385]

In [19]:
df.iloc[385]

Case Number                                                      2014.08.00
Date                                                             2020-08-14
Year                                                                   2014
Type                                                                Invalid
Country                                                                 NaN
Area                                                                    NaN
Location                                                                NaN
Activity                                                       Sea disaster
Name                                                         Cuban refugees
Sex                                                                       M
Age                                                                     NaN
Injury                       Shark involvement prior to death not confirmed
Fatal (Y/N)                                                               Y
Time                                                                    NaN
Species                                     Shark involvement not confirmed
Investigator or Source                         Associated Press, 11/27/2014
pdf                                           2014.08.00-Cuban-refugees.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    2014.08.00
Case Number.2                                                    2014.08.00
original order                                                       5710.0
Name: 385, dtype: object

In [27]:
df = df.fillna({'Country': 'Ocean'})

In [28]:
df.iloc[385]

Case Number                                                      2014.08.00
Date                                                             2020-08-14
Year                                                                   2014
Type                                                                Invalid
Country                                                               Ocean
Area                                                                    NaN
Location                                                                NaN
Activity                                                       Sea disaster
Name                                                         Cuban refugees
Sex                                                                       M
Age                                                                     NaN
Injury                       Shark involvement prior to death not confirmed
Fatal (Y/N)                                                               Y
Time                                                                    NaN
Species                                     Shark involvement not confirmed
Investigator or Source                         Associated Press, 11/27/2014
pdf                                           2014.08.00-Cuban-refugees.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    2014.08.00
Case Number.2                                                    2014.08.00
original order                                                       5710.0
Name: 385, dtype: object

In [29]:
df[df['Type'].isnull()].index.tolist()

[8, 242]

In [30]:
df.iloc[8]

Case Number                                                      2017.05.27
Date                                                             2017-05-27
Year                                                                   2017
Type                                                                    NaN
Country                                                           AUSTRALIA
Area                                                        New South Wales
Location                                                         Evans Head
Activity                                                           Fishing
Name                                                          Terry Selwood
Sex                                                                       M
Age                                                                      73
Injury                    Abrasion to right forearm from pectoral fin of...
Fatal (Y/N)                                                               N
Time                                                                    NaN
Species                                                                 NaN
Investigator or Source                                       B. Myatt, GSAF
pdf                                                  2017.05.27-Selwood.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    2017.05.27
Case Number.2                                                    2017.05.27
original order                                                       6087.0
Name: 8, dtype: object

In [32]:
df.iloc[242]

Case Number                                                      2015.07.27
Date                                                             2015-07-27
Year                                                                   2015
Type                                                                    NaN
Country                                                           AUSTRALIA
Area                                                               Victoria
Location                                                   Tyrendarra Beach
Activity                                                            Surfing
Name                                                                   male
Sex                                                                       M
Age                                                                      40
Injury                                                       Injury to hand
Fatal (Y/N)                                                             NaN
Time                                                                    NaN
Species                                                                 NaN
Investigator or Source                                                  NaN
pdf                                                 2015.07.27-Victoria.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    2015.07.27
Case Number.2                                                    2015.07.27
original order                                                       5853.0
Name: 242, dtype: object

In [40]:
df = df.fillna({'Type': 'Unprovoked'})

In [41]:
df.iloc[8]

Case Number                                                      2017.05.27
Date                                                             2017-05-27
Year                                                                   2017
Type                                                             Unprovoked
Country                                                           AUSTRALIA
Area                                                        New South Wales
Location                                                         Evans Head
Activity                                                           Fishing
Name                                                          Terry Selwood
Sex                                                                       M
Age                                                                      73
Injury                    Abrasion to right forearm from pectoral fin of...
Fatal (Y/N)                                                               N
Time                                                                    NaN
Species                                                                 NaN
Investigator or Source                                       B. Myatt, GSAF
pdf                                                  2017.05.27-Selwood.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    2017.05.27
Case Number.2                                                    2017.05.27
original order                                                       6087.0
Name: 8, dtype: object

In [42]:
df.iloc[242]

Case Number                                                      2015.07.27
Date                                                             2015-07-27
Year                                                                   2015
Type                                                             Unprovoked
Country                                                           AUSTRALIA
Area                                                               Victoria
Location                                                   Tyrendarra Beach
Activity                                                            Surfing
Name                                                                   male
Sex                                                                       M
Age                                                                      40
Injury                                                       Injury to hand
Fatal (Y/N)                                                             NaN
Time                                                                    NaN
Species                                                                 NaN
Investigator or Source                                                  NaN
pdf                                                 2015.07.27-Victoria.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    2015.07.27
Case Number.2                                                    2015.07.27
original order                                                       5853.0
Name: 242, dtype: object

In [44]:
df[df['Fatal (Y/N)'].isnull()].index.tolist()

[18, 26, 52, 91, 134, 242]

In [45]:
df.iloc[18]

Case Number                                                      2017.04.26
Date                                                             2017-04-26
Year                                                                   2017
Type                                                                Invalid
Country                                                                 USA
Area                                                                Florida
Location                                                                NaN
Activity                                                        Photo shoot
Name                                                          Molly Cavelli
Sex                                                                       F
Age                                                                     NaN
Injury                                     Alleged laceration to left ankle
Fatal (Y/N)                                                             NaN
Time                                                                    NaN
Species                      No shark invovlement - it ws a publicity stunt
Investigator or Source                                    The Sun, 5/6/2017
pdf                                                  2017.05.26-Cavelli.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    2017.04.26
Case Number.2                                                    2017.04.26
original order                                                       6077.0
Name: 18, dtype: object

In [48]:
# Dropping that row, since it wasn't a real attack
df.drop(18, inplace=True)

In [55]:
df.iloc[25]

Case Number                                                    2017.04.12.a
Date                                                             2017-04-12
Year                                                                   2017
Type                                                                Invalid
Country                                                        SOUTH AFRICA
Area                                                          KwaZulu-Natal
Location                                                       Protea Banks
Activity                                                       Scuba Diving
Name                                                                   male
Sex                                                                       M
Age                                                                      68
Injury                    Fatal, coroner unable to determine if the dive...
Fatal (Y/N)                                                             NaN
Time                                                                    NaN
Species                                                                 NaN
Investigator or Source                                      E. Ritter, GSAF
pdf                                                 2017.04.12.a-Protea.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                  2017.04.12.a
Case Number.2                                                  2017.04.12.a
original order                                                       6069.0
Name: 26, dtype: object

In [60]:
# Unconfirmed according to this source: https://www.trackingsharks.com/scuba-diver-killed-fatal-shark-attack/
df.drop(25, inplace=True)

In [61]:
df.iloc[50]

Case Number                                                    2017.01.08.R
Date                                                   Reported 08-Jan-2017
Year                                                                   2017
Type                                                                Invalid
Country                                                           AUSTRALIA
Area                                                             Queensland
Location                                                                NaN
Activity                                                       Spearfishing
Name                                                           Kerry Daniel
Sex                                                                       M
Age                                                                      35
Injury                               No attack, shark made a threat display
Fatal (Y/N)                                                             NaN
Time                                                                    NaN
Species                                                          Bull shark
Investigator or Source                               Liquid Vision 1/8/2017
pdf                                            2017.01.08.R-KerryDaniel.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                  2017.01.08.R
Case Number.2                                                  2017.01.08.R
original order                                                       6043.0
Name: 52, dtype: object

In [62]:
df.iloc[89]

Case Number                                                      2016.09.00
Date                                                             2020-09-16
Year                                                                   2016
Type                                                                Invalid
Country                                                              MEXICO
Area                                                                    NaN
Location                                                   Guadalupe Island
Activity                                                        Cage Diving
Name                                                                    NaN
Sex                                                                     NaN
Age                                                                     NaN
Injury                             No injury to divers, shark breached cage
Fatal (Y/N)                                                             NaN
Time                                                                    NaN
Species                                                         White shark
Investigator or Source                                            K. Yonker
pdf                                                   2016.09.00-Breach.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    2016.09.00
Case Number.2                                                    2016.09.00
original order                                                       6004.0
Name: 91, dtype: object

In [63]:
df.iloc[132]

Case Number                                                    2016.06.02.b
Date                                                             2016-06-02
Year                                                                   2016
Type                                                             Unprovoked
Country                                                           AUSTRALIA
Area                                                        New South Wales
Location                                                         Kingscliff
Activity                                                       Spearfishing
Name                                       Waade Madigan and Dr Seyong Kim
Sex                                                                       M
Age                                                                     NaN
Injury                    No injury, but sharks repeatedly hit their fin...
Fatal (Y/N)                                                             NaN
Time                                                                    NaN
Species                                            Bronze whaler sharks x 3
Investigator or Source                        Gold Coast Bulletin, 6/4/2016
pdf                                                2016.06.02.b-Matigan.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                  2016.06.02.b
Case Number.2                                                  2016.06.02.b
original order                                                       5961.0
Name: 134, dtype: object

In [64]:
df.iloc[240]

Case Number                                                      2015.07.27
Date                                                             2015-07-27
Year                                                                   2015
Type                                                             Unprovoked
Country                                                           AUSTRALIA
Area                                                               Victoria
Location                                                   Tyrendarra Beach
Activity                                                            Surfing
Name                                                                   male
Sex                                                                       M
Age                                                                      40
Injury                                                       Injury to hand
Fatal (Y/N)                                                             NaN
Time                                                                    NaN
Species                                                                 NaN
Investigator or Source                                                  NaN
pdf                                                 2015.07.27-Victoria.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    2015.07.27
Case Number.2                                                    2015.07.27
original order                                                       5853.0
Name: 242, dtype: object

In [ ]:
# The rest of the NaNs in this column are 'N':

In [65]:
df = df.fillna({'Fatal (Y/N)': 'N'})

In [71]:
df.to_csv("cleaned_sharkattackdata1.csv")

In [ ]:
# To be continued...